body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  font-family: 'ff-dax-pro', 'Helvetica', 'Arial', sans-serif;
  transition: all 0.4s ease;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.shadowDiv {
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modeSwitch {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 80px;
  background-color: #222;
  border-radius: 20px;
  padding: 5px;
  line-height: 1;
}

.modeSwitchBtn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  position: relative;
  background-image: url("img/day-mode-dark.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.4s ease;
}

.selectedFilter {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #333;
}

.selectedFilter:hover{
  background-color:transparent;
}

hr {
  width: 100%;
  border: 1px solid #333;
}

h3 {
  font-size: 1.7em;
  margin: 0 0 0 0;
  padding: 0;
}

#outer-box {
  background-color: transparent;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  width: 560px;
  color: #ddd;
  transition: all 0.4s ease;
}

#outer-box h2 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size:8em;
  letter-spacing: -6px;
}

#inner-box {
  padding: 20px;
}

input {
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #121212;
}

.imdbLogo {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: transparent;
  transition: all 0.4s ease;
}

.imdbLogo img {
  width: 100px;
}

.filter {
  display: flex;
  flex-flow: column;

}

.filterSubject {
  margin-bottom: 5px;
  background-color: rgba(255,255,255,0.03);
  padding: 10px;
  border-radius: 38px;
  box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.4);
  transition: all 0.4s ease;
}

.imdbLogo {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #f5c518;
}

.tagline {
  font-size: 2em;
}

.you {
  font-family: 'chantal', sans-serif;
  font-size: 1.5em;
  color:#6d1b84;
}

/* #################################################
   #################### FILTERS ####################
   ################################################# */
.togglediv {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 10px;
}

.streams {
  display: flex;
  flex-flow: column;
}

.streamSelection {
  display: flex;
  flex-flow: wrap;
  padding: 10px 10px 10px;
  justify-content: space-evenly;
}

/* svg colours */
.prime0 {
  fill: #D1EFFA;
}

.prime1 {
  fill: #00A8E1;
}

.prime2 {
  fill: #232F3E;
}

.binge0 {
  fill: url(#SVGID_3_);
}

.binge1 {
  fill: url(#SVGID_3_);
}

.binge2 {
  fill: url(#SVGID_3_);
}

.binge3 {
  fill: url(#SVGID_4_);
}

.binge4 {
  fill: url(#SVGID_5_);
}

.binge5 {
  fill: url(#SVGID_6_);
}

.netflix {
  fill: #D81F26;
}

.stan0 {
  fill: url(#SVGID_8_);
}

.stan1 {
  fill: url(#SVGID_9_);
}

.stan2 {
  fill: #0088E6;
}

.unselected {
  fill: #0f0f0f;
  transition: all 0.2s ease;
}

.streamSelection .stream svg {
  height: 25px;
}

.stream {
  display: grid;
  align-content: center;
  cursor: pointer;
}

.stream:hover .selectedStream {
  padding: 0;
}

.genreSelection {
  display: flex;
  flex-flow: wrap;
  padding: 0 10px 10px;
}

.genreSelection .genre {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25%;
}

.genreSelection .genre:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  color: #333;
}

.ratingSelection {
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  padding: 0px 10px 10px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-end;
  justify-content: space-evenly;
}

#ratingSlider {
  width: 80%;
  margin-bottom: 16px;
}

.slider {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  outline: none;
  background: #121212;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background: transparent url("img/popcorn.svg") no-repeat center center;
  border-radius: 100px;
  outline: none;
  border: none;
}

.slider::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: transparent url("img/popcorn.svg") no-repeat center center;
  border-radius: 100px;
  outline: none;
  border: none;
}

.slider::-moz-range-thumb:hover {
  cursor: pointer;
}

.ratingSelection .rating {
  padding: 10px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 8%;
}

.ratingSelection .rating:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

#ratingValue {
  font-size: 2.7em;
  line-height: 1;
  width: 55px;
  justify-content: center;
  display: flex;
}

.erasSelection {
  padding: 0 10px 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.erasSelection .era {
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 18%;
}

.erasSelection .era:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  color: #333;
}

.action {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}

.action img {
  width: 30px;
}

.action button {
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255,255,255,0.03);
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  color: #eee;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.4s ease;
}

.action button:hover {
  text-decoration: none;
}

.powered {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color:#222;
  height: 63px;
  background-image: url("logo-img/imdb-logo-dark.svg");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: background-image 0.4s ease;
}

#showRandomMovieBtn {
  padding: 10px;
  border-radius: 5px;
  background-color: #f5c518;
  color: #121212;
  font-weight: 800;
  font-size: 1.1em;
}

#showFullListBtn {
  background-image: url("img/list-view-light.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 20px center;
  padding-left: 50px;
  transition: background-image 0.4s ease;
}

/* #################################################
   ################## LIGHT MODE ###################
   ################################################# */

.light {
  background-color: #ccc;
  transition: all 0.4s ease;
}

.unselected.light {
  fill: #cc9600;
}

#outer-box.light {
  color: #121212;
}

.imdbLogo.light {
  color: #121212;
  background-color: transparent;
}

.filterSubject.light {
  background-color: #f2b800 !important;
  box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
}

.powered.light {
  color: #aaa;
  background-image: url("logo-img/IMDB_Logo_2016.svg");
  background-color: transparent;
  transition: background-image 0.4s ease;
}

#showFullListBtn.light {
  background-image: url("img/list-view-dark.svg");
  transition: background-image 0.4s ease;
  color: #121212;
  background-color: rgba(0,0,0,0.1);
}

.modeSwitchBtn.light {
  background-image: url("img/night-mode-dark.svg");
  transform: translateX(40px);
  transition: all 0.4s ease;
}

/* #################################################
   ############### RANDOM MOVIE VIEW ###############
   ################################################# */
#randomDiv {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #121212;
  width: 100%;
  height: 100% !important;
  z-index: 1;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
}

.close:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.movieReel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieReel img {
  height: 80px;
}

.rContent {
  max-width: 1280px;
  display: none;
}

.movieLogo {
  width: 350px;
  height: auto;
  display: none;
}

.movieLogo img {
  width:100%;
  height:100%;
}

.videoContainer {
  float: right;
  height: auto;
}

.randomMovie {
  display: flex;
  flex-flow: wrap;
  max-width: 1280px;
  justify-content: center;
}

.moviePoster {
  background-color: #121212;
  border-radius: 10px 10px 0 0;
  padding: 50px 50px 0 50px;
  max-width: 30%;
  display: flex;
  justify-content: center;
}

.moviePoster img {
  display: block;
  width: 100%;
  height: 100%;
}

.movieInfo {
  background-color: #121212;
  border-radius: 10px;
  max-width: 70%;
  display: flex;
  flex-flow: column;
  color: #fff;
  margin-top: 30px;
}

.movieInfo h1 {
  margin: 0;
  font-weight: bold;
}

.randomInfo {
  display: flex;
  flex-flow: row;
  margin: 10px 0;
}

.movieInfo p {
  margin: 0;
}

.movieInfo p::after {
  content: ", ";
}

.movieInfo p:last-child::after {
  content: "";
}

.rInfoStarring {
  display: flex;
}

.rInfoGenre {
  display: flex;
}

.leftIn-col {
  width: 65%;
  text-align: right;
  padding-right: 10px;
}

.rightIn-col {
  width: 35%;
  text-align: left;
  padding-left: 10px;
}

.movieInfoStreams {
  display: flex;
  float: right;
  width: 50%;
  color: #eee;
  justify-content: flex-end;
  align-items: flex-end;
  line-height: 1;
}

.movieInfoStreams img {
  height: 20px;
  margin:0 10px;
}

.movieInfo img {
  height: 20px;
  margin: 0 10px;
}

/* #################################################
   ################# FULL LIST VIEW ################
   ################################################# */
#fullListDiv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  width: 100vw;
  height: 100vh !important;
  padding: 50px;
  z-index: 1;
}

.fullList {
  width: 70%;
  background-color: #191919;
  margin: 0 auto;
  top: 30px;
  position: relative;
  max-height: 85vh;
  overflow: scroll;
  border: 5px solid #222;
  padding: 20px;
  border-radius: 20px;
  display: none;
}

.listRow {
  padding: 10px;
  color: #fff;
  display: flex;
  border-bottom: 1px solid #232323;
}

.listRow:last-child {
  border-bottom: 0;
}

.listRow:hover {
  background-color: #232323;
}

.listRow h1 {
  font-size: 1.5em;
  margin: 0;
}

.listRow .left-col {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.listRow .right-col {
  width: 30%;
  display: grid;
  grid: 50% /auto auto;
  justify-content: space-between;
  align-content: end;
}

.rowTitle {
  font-weight: bold;
}

.listRow .streaming img {
  height: 15px;
  margin-right: 10px;
}

.rating {
  align-items: end;
  display: flex;
  flex-flow: row;
  line-height: 1;
}

.rating img {
  width: 40px;
  margin-right: 10px;
}

.listPoster {
  display: grid;
  align-content: end;
}

.listPoster img {
  max-height: 80px;
}

#fullListDiv {
  display: none;
}

#noMovies {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%
}

.show {
  display: block;
}

.hide {
  display: none;
}

.noMovieMatching {
  padding: 50px;
  color: #fff;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 20px;
  margin-top: 20%;
  text-align: center;
}

.noMovieMatching h1 {
  font-size: 3em;
}

@media only screen and (max-width: 1300px) {
  .rContent {
    padding: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .rContent {
    display: grid !important;
  }

  .videoContainer {
    display: flex;
    justify-content: center;
    order: 2;
    margin: 30px 0;
  }

  .movieInfoStreams {
    width: 100%;
    order: 3;
  }
}

@media only screen and (max-width: 700px) {
  body {
    font-stretch: 16px;
  }

  .movieInfo {
    max-width: 70%;
    justify-content: center;
    margin-top: 30px;
  }

  .videoContainer {
    order: 2;
    display: flex;
    float: none;
    margin: 30px 0;
  }

  .movieInfoStreams {
    order: 3;
  }
}

/*
@media only screen and (max-width: 550px) {
  body {
    padding: 0;
    margin: 0;
  }

  .content {
    height: 100vh;
  }

  #outer-box {
    width: 90vw;
    max-height: 100vh;
    left: 5vw;
  }

  .filter {
    width: 100%;
  }

  .streamSelection {
    row-gap: 10px;
    column-gap: 10px;
  }

  .streamSelection .stream img {
    width: 150px;
  }

  .genreSelection {
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
  }

  .genreSelection .genre {
    min-width: 20%;
  }

  #randomDiv {
    position: absolute;
    top: 0;
  }

  .moviePoster {
    padding: 30px 30px 0 30px;
    max-width: 60%;
  }

  .movieInfo {
    max-width: 100%;
    padding: 30px;
    flex-flow: column;
  }

  .movieInfo .left-col, .movieInfo .right-col {
    width: 100%;
  }

  .movieInfo .left-col {
    text-align: center;
  }

  .movieInfo .right-col {
    margin: 20px 0 0;
    display: grid;
    grid: 50% / auto auto;
  }

  .movieInfo .leftIn-col {
    width: 20%;
  }

  .movieInfo .rightIn-col {
    width: auto;
  }

  .randomInfo {
    margin: 10px 0 0;
  }

  #fullListDiv {
    position: absolute;
    top: 0;
  }

  .fullList {
    width: 95%;
  }

  .action {
    width: auto;
  }

  #showRandomMovieBtn {
    padding: 15px;
  }
}
*/
