body {
  padding: 0;
  margin: 0;
  background-color: #e3e2dd;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.shadowDiv {
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.selectedFilter {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.selectedFilter:hover{
  background-color:transparent;
}

hr {
  width: 100%;
  border: 1px solid #fff;
}

h3 {
  font-size: 1.1em;
  margin: 0 0 0 0;
  padding: 0;
}

#outer-box {
  padding: 20px;
  background-color: #fdc500;
  display: flex;
  flex-flow: column;
  border-radius: 10px 10px 0 0;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 20px;
}

#outer-box h2 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
}

input {
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #121212;
  width: 10%;
}

.imdbLogo {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 15px;
}

.imdbLogo img {
  width: 100px;
}

.filter {
  display: flex;
  flex-flow: column;
  width: 520px;
}

.filterSubject {
  margin-bottom: 5px;
  background-color: rgba(255,255,255,0.5);
  padding: 0;
  border-radius: 10px;
}

#streamDrop {
  display: none;
}

#genreDrop {
  display: none;
}

#ratingDrop {
  display: none;
}

#actorsDrop {
  display: none;
}

#eraDrop {
  display: none;
}

.arrowUp {
  background-image: url("img/keyboard_arrow_up-24px.svg") !important;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease;
}

.arrowDown {
  background-image: url("img/keyboard_arrow_up-24px.svg") !important;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease;
  transform: rotate(180deg);
}

.togglediv {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}

.streams {
  display: flex;
  flex-flow: column;
}

.streamSelection {
  display: flex;
  flex-flow: row;
  padding: 0px 10px 10px;
}

.streamSelection .stream img {
  max-height: 25px;
  min-width: 100px;
  padding: 10px;
}

.stream:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.stream:hover .selectedStream {
  padding: 0;
}

.genreSelection {
  display: grid;
  grid: 20% / auto auto auto auto;
  padding: 0px 10px 10px;
}

.genreSelection .genre {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genreSelection .genre:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.ratingSelection {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 10px 10px;
}

.ratingSelection .rating {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.ratingSelection .rating:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.actorsSelection {
  padding: 0px 10px 10px;
  display: flex;
  justify-content: space-between;
}

#starring {
  width: 70%;
}

.actors input[type="submit"] {
  background-color: #121212;
  color: #fdc500;
  border-radius: 5px;
  padding: 5px 5px;
  margin-right: 25px;
  width: 20%;
}

.erasSelection {
  display: grid;
  grid: 20% / auto auto auto auto auto;
  padding: 0px 10px 10px;
}

.erasSelection .era {
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.erasSelection .era:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.action {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  width: 25%;
  margin: 0 auto;
}

.action button {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.action button:hover {
  text-decoration: none;
}

#showRandomMovieBtn {
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #121212;
  text-decoration: none;
}

.randomMovie {
  display: flex;
  flex-flow: column;
  max-width: 1280px;
  margin: 0 auto;
}

.moviePoster {
  background-color: #121212;
  border-radius: 10px 10px 0 0;
  padding: 50px 50px 0 50px;
  margin: 0 auto;
  max-width: 30%;
  display: flex;
  justify-content: center;
}

.moviePoster img {
  display: block;
  width: 100%;
  height: 100%;
}

.movieInfo {
  background-color: #121212;
  padding: 50px;
  border-radius: 10px;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  color: #fff;
}

.movieInfo .left-col {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.movieInfo h1 {
  margin: 0;
  font-weight: bold;
}

.movieInfo .right-col {
  width: 50%;
  text-align: right;
}

.movieInfo .left-col .rightIn-col {
  display: flex;
  padding: 0;
}

.movieInfo .left-col .leftIn-col {
  width: auto;
  display: flex;
  align-items: end;
  padding: 0;
  line-height: 13px;
}

.randomInfo {
  display: flex;
  flex-flow: row;
  margin: 10px 0;
}

.randomInfo p {
  margin: 0;
}

.leftIn-col {
  width: 65%;
  text-align: right;
  padding-right: 10px;
}

.rightIn-col {
  width: 35%;
  text-align: left;
  padding-left: 10px;
}

.movieInfoStreams {
  margin-top: 20px;
  display: flex;
}

.movieInfo img {
  height: 20px;
  margin: 0 10px;
}

.fullList {
  width: 70%;
  background-color: #121212;
  margin: 0 auto;
  top: 50px;
  position: relative;
}

.listRow {
  padding: 10px;
  color: #fff;
  display: flex;
  border-bottom: 1px solid #232323;
}

.listRow:hover {
  background-color: #232323;
}

.listRow h1 {
  font-size: 1.5em;
  margin: 0;
}

.listRow .left-col {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.listRow .right-col {
  width: 30%;
  display: grid;
  grid: 50% /auto auto;
  justify-content: space-between;
  align-content: end;
}

.rowTitle {
  font-weight: bold;
}

.listRow .streaming img {
  height: 15px;
  margin-right: 10px;
}

.rating {
  align-items: end;
  display: flex;
  flex-flow: row;
  line-height: 1;
}

.rating img {
  width: 40px;
  margin-right: 10px;
}

.listPoster {
  display: grid;
  align-content: end;
}

.listPoster img {
  max-height: 80px;
}

#randomDiv {
  display: none;
}

#fullListDiv {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media only screen and (max-width: 580px) {
  .content {
    background-color: #fdc500;
    height: 100vh;
  }

  #outer-box {
    max-width: 100vw;
    position: static;
    border-radius: 0px;
    max-height: 100vh;
  }

  .filter {
    width: 100%;
  }
}
